<div *ngIf="!rsetPassword" class="form-net-container forg">
    <form class="row g-3 form-container" [formGroup]="userNameForm" *ngIf="!showChild">
        <div class="col-md-12">
            <input type="username" class="form-control" id="username" placeholder="Username (email-id)"
                formControlName="username"
                [ngClass]="{ 'is-invalid': (submitButtonClicked || userNameForm.controls.username.touched) && userNameForm.controls.username.errors}">
            <div *ngIf="(submitButtonClicked || userNameForm.controls.username.touched) && userNameForm.controls.username.errors"
                class="invalid-feedback">
                <div *ngIf="userNameForm.controls.username.errors.required">Username is required</div>
                <div *ngIf="userNameForm.controls.username.errors.email">Enter a valid username address, e.g.,
                    john@example.com</div>
            </div>
        </div>
        <div class="col-12">
            <button class="pushable col-12 save-changes" [disabled]="userNameForm.invalid" (click)="forgotPassword()">
                <span class="front">
                    Forgot Password
                </span>
            </button>
        </div>
    </form>
</div>


<div *ngIf="rsetPassword" class="form-net-container rst">
    <form class="row g-3 form-container" [formGroup]="passwordForm" *ngIf="!showChild">
        <div class="col-md-12">
            <input type="password" class="form-control" id="inputpassword" placeholder="Password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': (submitButtonClicked || passwordForm.controls.password.touched) && passwordForm.controls.password.errors}">
            <div *ngIf="(submitButtonClicked || passwordForm.controls.password.touched) && passwordForm.controls.password.errors"
                class="invalid-feedback">
                <div *ngIf="passwordForm.controls.password.errors.required">password is required</div>
                <div *ngIf="passwordForm.controls.password.errors.minlength"> password must be at least 6 characters.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="password" class="form-control" id="confirmInputpassword" placeholder="Confirm password"
                formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': (submitButtonClicked || passwordForm.controls.confirmPassword.touched) && passwordForm.controls.confirmPassword.errors}">
            <div *ngIf="(submitButtonClicked || passwordForm.controls.confirmPassword.touched) && passwordForm.controls.confirmPassword.errors"
                class="invalid-feedback">
                <div *ngIf="passwordForm.controls.confirmPassword.errors.required">Confirm password is required</div>
                <div *ngIf="passwordForm.controls.confirmPassword.errors.minlength"> password must be at least 6
                    characters.</div>
                <div *ngIf="passwordForm.controls.confirmPassword.errors.misMatch"> password Mismatch</div>
            </div>
        </div>
        <div class="col-12">
            <button class="pushable col-12 save-changes" [disabled]="passwordForm.invalid" (click)="resetPassword()">
                <span class="front">
                    Reset Password
                </span>
            </button>
        </div>

    </form>
</div>