.qrcode {
    width: 2%;
    margin-left: 2%;
    background: white;
}

.qrcontents {
    color: white;
    background-color: black;
    margin-left: 1%;

}

.scan {
    margin-left: 1%;
    margin-top: .25%;
}

.paybtn {
    margin-top: .5%;
    margin-left: .5%;
}